/* src/stalin.css */
/* main.css */
.suggestions-list {
  max-height: 250px;
  max-width: 600px;
  overflow-y: auto;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.suggestions-list li {
  padding: 12px;
  min-height: 50px;
  cursor: pointer;
  line-height: 1.5;
}
.suggestions-list li:hover {
  background-color: #f0f0f0;
}
.suggestion-item {
  display: block;
  padding: 12px;
  cursor: pointer;
  line-height: 1.5;
  border-bottom: 1px solid #eee;
  background-color: #ffffff;
}
.suggestion-title {
  font-weight: bold;
  margin-bottom: 5px;
}
.suggestion-author {
  color: gray;
  font-size: 0.9em;
  margin-bottom: 5px;
}
.suggestion-abstract {
  display: flex;
  align-items: center;
}
.abstract-line {
  width: 4px;
  height: 20px;
  background-color: #ccc;
  margin-right: 8px;
}
.suggestion-abstract span {
  font-size: 0.85em;
}
.suggestion-buttons {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  margin-bottom: 10px;
}
.suggestion-button {
  margin-left: 5px;
  padding: 6px 12px;
  background-color: #ccc;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.js-typeahead {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
  color: #333;
  background-color: #fff;
  transition: border-color 0.3s;
}
.js-typeahead:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.chat-area[data-v-ea994a51] {
  height: 100%;
  text-align: center;
  justify-content: center;
}
.history[data-v-ea994a51] {
  position: absolute;
  box-sizing: border-box;
  height: calc(100% - 110px);
  top: 0;
  left: 5px;
  right: 5px;
  overflow-y: auto;
  padding-right: 10px;
}
.input-area[data-v-ea994a51] {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 30px;
  left: 10px;
  right: 10px;
  border: 0.5px solid gray;
  border-radius: 4px;
}
button[data-v-ea994a51] {
  position: absolute;
  right: 5px;
  height: 50px;
  border: none;
  width: 40px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}
textarea[data-v-ea994a51] {
  padding: 10px;
  border-radius: 4px;
  left: 5px;
  margin-right: 5px;
  width: calc(100% - 55px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  outline: none;
}
button[data-v-ea994a51]:hover {
}

/* src/main.css */
